extends layout

block content
  h1 #{title}
  form(action='/new', method='POST')
    p
      | author: 
      input(type='text', name='author', value='')
    p
      |   message: 
      input(type='text', name='message', value='')
    input(type='submit', value='Submit')